{# templates/header.html.twig #}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Web Developper | Hasina Ravonimbola</title>
    <meta content="Hasina RAVONIMBOLA-Web developper:PHP,WordPress,Symfony,Drupal,Webmaster. Ecouter et donner une solution au demande du client" name="description">
    <meta content="Hasina RAVONIMBOLA,Web developper,PHP,WordPress,Symfony,Drupal, Webmaster" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('assets/img/Web-developper-Hasina-Ravonimbola-favicon-16x16.png') }}" sizes="16x16" rel="icon">
    <link href="{{ asset('assets/img/Web-developper-Hasina-Ravonimbola-favicon-32x32.png') }}" sizes="32x32" rel="icon">
    <link href="{{ asset('assets/img/Web-developper-Hasina-Ravonimbola-apple-touch-icon.png') }}" sizes="180x180" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3R27914ZHJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3R27914ZHJ');
    </script>
</head>
<body>