{# templates/portfolio.html.twig #}
<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        You can see my recent project
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/Maison-Gallieni_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/Maison-Gallieni_q90.webp') }}" alt="web-developement-Hasina-ravonimbola" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">Maison Gallieni</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">August 2024</span></br>
                                    <span class="w-25">WordPress Custom Theme - website technical redesign</span>
                                    <p><span class="fw-bold">Work:</span> As a Freelance  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/Yakatravelight_q90.webp') }}" target="_blank" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/Yakatravelight_q90.webp') }}" alt="web-developement-Hasina-ravonimbola" class="img-fluid" title="Hasina-ravonimbola-web-developper-portfolio">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">yakatravelight.com</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">Mai 2024</span></br>
                                    <span>WordPress Custom Theme - Creating website</span>
                                    <p><span class="fw-bold">Work:</span> As a Freelance  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://yakatravelight.com" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/macdo_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/macdo_q90.webp') }}" alt="web-developement-Hasina-ravonimbola" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">McDo Recrutement</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">August 2023</span></br>
                                    <span>WordPress Custom Theme - Send API</span></br>
                                    <p><span class="fw-bold">Work:</span> As a Bolzano dev  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://carrieres.mcdonalds.fr/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/harpo_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/harpo_q90.webp') }}" alt="web-developement-Hasina-ravonimbola" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">Harpo Paris.fr</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development- Webmastering</span></br>
                                    <span>Prestashop 1.7</span></br>
                                    <p><span class="fw-bold">Work:</span> As a Pulse.mg dev  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://www.harpo-paris.com/fr/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/fimmo_q90.webp')}}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/fimmo_q90.webp')}}" alt="Hasina-ravonimbola-web-developper" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">First Immo.mg</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">July 2022</span></br>
                                    <span>WordPress Custom Theme - Website redesign</span></br>
                                    <p><span class="fw-bold">Work</span>: As a Pulse.mg dev</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://www.firstimmo.mg/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/madcam_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/madcam_q90.webp') }}" alt="Hasina-ravonimbola-web-developper" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">Madcameleon.mg</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">January 2022</span></br>
                                    <span>WordPress Custom Theme - Website redesign</span></br>
                                    <p><span class="fw-bold">Work:</span> As a Pulse.mg dev  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://www.madcameleon.com/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/fanvoice_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/fanvoice_q90.webp') }}" alt="Hasina-ravonimbola-web-developper" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">Fanvoice.com</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development</span> / <span class="w-date">November 2021</span></br>
                                    <span>WordPress Custom Theme - Website redesign</span></br>
                                    <p><span class="fw-bold">Work:</span> As a Pulse.mg dev  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://www.fanvoice.com/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="{{ asset('assets/img/pp_q90.webp') }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                        <div class="work-img">
                            <img src="{{ asset('assets/img/pp_q90.webp') }}" alt="Hasina-ravonimbola-web-developper" title="Hasina-ravonimbola-web-developper-portfolio" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="w-title">Positive Performances.org</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Development - Webmastering</span> / <span class="w-date">Since august 2023</span></br>
                                    <span>Wix</span></br>
                                    <p><span class="fw-bold">Work:</span> As a Freelance  </p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="w-like">
                                    <a href="https://www.positiveperformances.org/" target="_blank"> <i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Portfolio Section -->